* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    text-align:center;
    font-family: Arial;
    color:deeppink;
    background: rgb(25, 27, 27);
}

.container {
    padding:1.2em;
    
}

.cabecera {
    background:#fff;
    width:60%;
    background-color:cadetblue;
    color:#fff;
    flex-direction: row;
    height:80px;
    align-items: center;
    justify-content:space-between ;
    display:flex;
    margin:0 auto;
    border:2px solid cadetblue;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    padding:0 1em;
}

    .cabecera .izquierda {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .cabecera .izquierda img {
        width:60px;
        height:60px;
        margin-right:20px;
    }

    .cabecera .izquierda h1 {
        color:#000;
        font-weight: bold;
    }

    .cabecera h2 {
        color:#000;
        letter-spacing: 1px;
    }

        .cabecera h2:hover {
            color: #fff;
        }


.post {
    background:#fff;
    width:60%;
    height:600px;
    margin:0 auto;
    padding:1em;
    line-height: 30px;
    border:2px solid #fff;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

    .post h1 {
        font-size:3em;
        text-align: left;
        margin:20px 0;
    }

    .post p {
        font-size:1.5em;
        color:#000;
        text-align: left;
    }

        .post p a {
            color:rgb(55, 85, 218);
        } 